*.pyc
/logs/*
/httpserver.log
/parameters*
/welcome.w2p
!.gitignore
!routes.py
!README
!/Procfile
!/requirements.txt
/applications/*/cache/
/applications/*/databases/*
/applications/*/errors/
/applications/*/sessions/
/applications/*/private/
/applications/*/uploads/*
/applications/*/.hg/
!/applications/
